html, body, header, ul, li, h1, h2, h3 {
    margin: 0;
    font-family:"Fira Code", monospace;
}

body {
    background-color: #011627;
    padding-bottom: 0;
}

header li {
    display:none;
    color: rgb(96 123 150);
    opacity: 1;
}

header .visible {
    display: inline-block;
    margin-left: 0;
}

header ul {
    padding-left: 25px;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #494d4d;
    padding-top: 20px;
    padding-bottom: 10px;
}

header a:active {
  border-bottom: 3px solid orange;
}

.hamburger-menu {
    margin-left: auto;
    margin-right: 60px;
}

svg {
    fill: #607b96
}

footer li {
      color: white;
      list-style: none;
    
    }

    footer ul {
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 20px;
      gap: 20px;
      padding-bottom: 0;
    }

    footer li {
      flex-basis: 10px
    }

    footer li:first-child {
      flex-grow: 1;
    }


    footer .hidden {
      display: none;
    }


    footer {
     max-height: 50px;
     /* margin-top: -50px; */
     border-top: 1px solid #494d4d;
   }

   h4, h2, form{
     color: white;
   }
   label {
     display: block;
   }

    button:hover {
      background-color: orange;
   }
   main article {
       width: 100%;
       max-width: 700px;
       margin: 0 auto;
       
       padding-top: 30px;
       padding-bottom: 30px;
   }
   main {
       padding: 200px 30px 150px;
   }

   .article-header {
       width: 70%;
       margin: 0 auto;
       text-align: center;
   }

   .article-header h4, .article-header h2{
       margin: 0;
   }

   .form-divs{
       margin-top: 20px;
       width: 100%;
       max-width: 700px;
       
   }

   .form-divs label {
       font-size: 1.2rem;
       text-indent: 5px;
   }
   .form-divs:last-child {
       display: flex;
       align-items: center;
       gap: 1px;
   }

   .form-divs:last-child input {
       width: 6%;
   }

   .form-divs:last-child label {
       font-size: 1rem;
   }

   .form-divs input {
       width: 100%;
       max-width: 600px;
       height: 35px;
       border-radius: 10px;
       background-color: rgb(155, 146, 146);
   }

   form {
       padding: 0 20px;
   }
 
   .forgot-pass-div {
       text-align: right;
       margin-top: 20px;
       padding-right: 30px;
   }

   .forgot-pass-div a {
       color: white;
   }

   .forgot-pass-div button {
       font-size: 1rem;
       padding-top: 2%;
       padding-right: 5%;
       padding-left: 5%;
       padding-bottom: 2%;
       border-radius: 30px;
       background-color: orange;
       border: none;
       color: white;
    }

   @media (max-width:400px) {
       .forgot-pass-div{
           text-align: center;
       }
       .forgot-pass-div button {
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
       }
   }
   

   
  

  



   @media (min-width: 750px) {
     
    
     .hamburger-menu{
        display: none;
      }

      header li {
        display: inline-block;
        border-left: 1px solid #494d4d;
        width: 100%;
        height: 100%;
      }

      header a {
        text-decoration: none;
        color: #607b96;
        min-width: 100%;
        min-height: 100%;
        display: inline-block;
        min-height: 40px;
        padding-top: 15px;
        
       
      }

      header span {
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      header ul {
        display: flex;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 50px;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
      }

      header li:first-child {
       padding-right: 20%;
        border-left: none;
      }
      header li:last-child {
        
        border-right: 1px solid #494d4d;;
      }
      header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 50px;
      }


      footer {
     margin: 0;
     padding: 10px;
   }

   footer ul {
     margin-bottom: 0;
     padding: 10px;
    }

    footer li:first-child{
      flex-grow: 0;
    }

    footer li:last-child {
      margin-left: ;
    }

    footer li {
      flex-basis: 15%;
      }

      footer a {
        display: block;
        /* width: 100%; */
      }

      footer a div {
        width: 50%;
        margin: 0 auto;
      }

      .github-li {
        margin-left: auto;
      }

}