html, body, header, ul, li, h1, h2, h3 {
    margin: 0;
    font-family:"Fira Code", monospace;
}

body {
    background-color: #011627;
    padding-bottom: 0;
}

header li {
    display:none;
    color: rgb(96 123 150);
    opacity: 1;
}

header .visible {
    display: inline-block;
    margin-left: 0;
}

header ul {
    padding-left: 25px;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #494d4d;
    padding-top: 20px;
    padding-bottom: 10px;
}

header a:active {
  border-bottom: 3px solid orange;
}

.hamburger-menu {
    margin-left: auto;
    margin-right: 60px;
}

svg {
    fill: #607b96
}

footer li {
      color: white;
      list-style: none;
    
    }

    footer ul {
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 20px;
      gap: 20px;
      padding-bottom: 0;
    }

    footer li {
      flex-basis: 10px
    }

    footer li:first-child {
      flex-grow: 1;
    }


    footer .hidden {
      display: none;
    }


    footer {
     max-height: 50px;
     /* margin-top: -50px; */
     border-top: 1px solid #494d4d;
   }

   form{
     color: white;
   }
   label {
     display: block;
   }

   form {
     width: 90%;
     margin: 0 auto;
   }

   .grid-div input {
     width: 300px;
     height: 45px;
     border-radius: 30px;
     border: none;
     padding-left: 20px;
     font-size: 1rem;
     background-color: rgb(155, 146, 146);
     font-size: 1.2rem;
     }

     .grid-div input::placeholder {
       color: black;
     }

   
   .grid-div select {
     height: 40px;
     width: 150px;
     border-radius: 20px;
     padding-left: 20px;
     background-color: rgb(155, 146, 146);
     font-size: 1.2rem;
   }

   label {
     padding-left: 20px;
     margin-bottom: 10px;
     margin-top: 20px;
     font-size: 1.2rem;
   }

   fieldset {
     border: none;
     max-width: 1300px;
     margin: 30px auto 0;
   }

   legend {
     width: 30%;
     margin: 0 auto;
     text-align: center;

   }

   .submit-div {
     width: 30%;
     max-width: 200px;
     margin-top: 70px
     padding: 0;
     height: 40px;
   }

   .submit-div button {
     width: 100%;
     
     height: 100%;
   }

   button{
     border-radius: 20px;
     border: none;
     font-size: 15px;
   }

   button:hover {
      background-color: orange;
   }

   

   
  

  



   @media (min-width: 750px) {
     
    
     .hamburger-menu{
        display: none;
      }

      header li {
        display: inline-block;
        border-left: 1px solid #494d4d;
        width: 100%;
        height: 100%;
      }

      header a {
        text-decoration: none;
        color: #607b96;
        min-width: 100%;
        min-height: 100%;
        display: inline-block;
        min-height: 40px;
        padding-top: 15px;
        
       
      }

      header span {
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      header ul {
        display: flex;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 50px;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
      }

      header li:first-child {
       padding-right: 20%;
        border-left: none;
      }
      header li:last-child {
        
        border-right: 1px solid #494d4d;;
      }
      header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 50px;
      }


      footer {
     margin: 0;
     padding: 10px;
   }

   footer ul {
     margin-bottom: 0;
     padding: 10px;
    }

    footer li:first-child{
      flex-grow: 0;
    }

    footer li:last-child {
      margin-left: ;
    }

    footer li {
      flex-basis: 15%;
      }

      footer a {
        display: block;
        /* width: 100%; */
      }

      footer a div {
        width: 50%;
        margin: 0 auto;
      }

      .github-li {
        margin-left: auto;
      }

      fieldset .grid-div {
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-items: center;
     column-gap: 10px;
   }

   .grid-div .select-div {
     width: 320px;

   }

   .submit-div {
     margin: 50px auto;
   }

}

@media (max-width:749px) {
.grid-div div {
  max-width: 400px;
  margin: 10px auto;
  /* text-align: center; */
}

.grid-div input, .grid-div label{
 
  margin: 0 auto;
  display: block;
}

.grid-div select{
  margin-left: 10%;
  display: block;
}

.grid-div label{
   max-width: 300px;
}

.grid-div .select-div label {
  max-width: 300px;
  
}

.submit-div {
   margin: 70px auto;
}

}